.jumbotron
  %h1.center
    %i.fa.fa-th
    Anthill
  .lead.text-info.center
    Simple Distributed Workload System
  
  .center
    %a{href: "https://github.com/sausheong/anthill"}
      %i.fa.fa-github
      https://github.com/sausheong/anthill